/* ==========================================================
    2020/11/05 T.M 新規作成

    主たるブレイクポイント
    (768px以下)がsp、tab
    769px以上がPC
    1000px以上がpc2
========================================================= */

/* =========================================================

 共通設定 ＆ 汎用クラス 

========================================================= */
html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #333;
  line-height: 2;
  background-color: #fff;
}

.inner{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-size: 2.6rem;
  line-height: 1;
  margin-bottom: 30px;
  font-weight: bold;
}

/* ヘッダー
--------------------------------------------------------- */



/* フッター
--------------------------------------------------------- */
footer p{
  text-align: center;
}



/* =========================================================

 TOP ページ 

========================================================= */


/* キービジュアル
--------------------------------------------------------- */

/* ABOUT
--------------------------------------------------------- */
#about{
  margin-bottom: 30px;
}


/* WORK
--------------------------------------------------------- */
#work{
  margin-bottom: 30px;
}


/* SIKILLS
--------------------------------------------------------- */
#skills{
  margin-bottom: 30px;
}



/* PORTFOLIO
--------------------------------------------------------- */
#portfolio{
  margin-bottom: 30px;
}



/* CONTACT
--------------------------------------------------------- */
#contact{
  margin-bottom: 30px;
}







