/* ==========================================================
    2020/11/05 T.M 新規作成

    主たるブレイクポイント
    (768px以下)がsp、tab
    769px以上がPC
========================================================= */

/* =========================================================

 共通設定 ＆ 汎用クラス 

========================================================= */
html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #333;
  line-height: 2;
  background-color: #fff;
}

a:hover{
  opacity: 0.6;
}

.inner{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-size: 4.6rem;
  line-height: 1;
  margin-bottom: 30px;
  margin-left: 10px;
  font-weight: bold;
}

.subtitle{
  font-size: 2.6rem;
  margin-bottom: 30px;
  margin-left: 10px;
}

i{
  padding-right: 10px;
}

/* ヘッダー
--------------------------------------------------------- */
header {
  position: sticky;
  top: 0;
  background-color: #043959;
  color: #fff;
  height: 50px;
  width: 100%;
  z-index: 1000;
}

header > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .menu_btn {
  display: none;
}

.menu_body {
  /* background-color: transparent; */
  height: auto;
  width: 100%;
  position: static;
  transform: translateX(0);
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.menu_body ul {
  display: flex;
}

.menu_body ul li {
  font-size: 1.6rem;
  line-height: 3rem;
  margin-right: 20px;
}

@media screen and (max-width:769px){
  header nav .menu_btn {
    display: block;
  }

  header nav .menu_btn {
    width: 24px;
    height: 24px;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 998;
  }

  header nav .menu_btn span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: 0.4s;
  }

  header nav .menu_btn span:first-child {
    top: 0;
  }
  
  header nav .menu_btn span:nth-child(2) {
    top: 11px;
  }
  
  header nav .menu_btn span:last-child {
    bottom: 0;
  }
  
  header nav.on .menu_btn span:first-child {
    transform: translateY(11px)rotate(45deg);
  }
  
  header nav.on .menu_btn span:nth-child(2) {
    visibility: hidden;
  }

  header nav.on .menu_btn span:last-child {
    transform: translateY(-11px)rotate(-45deg);
  }

  .menu_body {
    background-color: #333;
    height: 50vh;
    width: 100%;
    position: sticky;
    transform: translateX(100%);
    transition: 0.4s;
    padding-top: 50px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: bold;
  }

  .on .menu_body {
    transform: translateX(0);
  }

  .menu_body ul {
    display: block;
  }

  .menu_body ul li{
    font-size:2rem;
    line-height: 5rem;
  }

  .menu_body ul li a{
    display: block;
    border-bottom: 1px solid #707070;
  }
}/* max-width:769px */

/* フッター
--------------------------------------------------------- */
footer p{
  text-align: center;
}

/* =========================================================

 TOP ページ 

========================================================= */

/* キービジュアル
--------------------------------------------------------- */
#key{
  background-image: url(../img/key.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* margin-top: 50px; */
  margin-bottom: 30px;
}

#key > div{
  display: table;
  height: 100vh;
  width: 100%;
}
#key div.pc{
  display: table-cell;
  position: absolute;
  top: 300px;
  left: 180px;
  /* text-align: center; */
  /* vertical-align: middle; */
  color: #fff;
  font-size: 6rem;
  font-weight: bold;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.5;
}

#key div.pc p{
  background: rgba(255,255,255,0.2);
  display: inline-block;
  padding: 20px;
}

@media screen and (max-width:769px){
  #key div.pc{
    top: 300px;
    left: 10px;
    font-size: 4rem;
  }
}/* max-width:769px */

/* ABOUT
--------------------------------------------------------- */
#about{
  margin-bottom: 30px;
}

#about .icon{
  width: 50px;
  height: 50px;
}
#about ul {
  margin-bottom: 20px;
  margin-left: 10px;
}

#about ul li ul{
  margin-left: 26px;
}

#about img{
  margin-left: 10px;
}

/* SIKILLS
--------------------------------------------------------- */
#skills{
  background-color: #043959;
  color: #fff;
  margin-bottom: 30px;
  padding-top: 30px;
}

#skills div h2,
#skills div h3{
  color: #fff;
}

#skills img{
  width: 80px;
  height: 80px;
}

#skills div{
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#skills div div{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#skills div div div{
  width: 320px;
  background-color: #fff;
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  text-align: center;
}

#skills .star{
  width: 100%;
}

/* PORTFOLIO
--------------------------------------------------------- */
#portfolio{
  margin-bottom: 30px;
}

#portfolio div div{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#portfolio .uk-grid{
  margin-right: 30px;
}
#portfolio .pf_contents figure{
  margin-bottom: 30px;
}

#portfolio .pf_contents figure img{
  width: 470px;
  height: 350px;
  /* transform-style: flat; */
  /* transition: all .25s ease-out; */
  box-shadow: 0 2px 5px #ccc;
}

#portfolio .icon{
  width: 50px;
  height: 50px;
}

@media screen and (max-width:769px){
  #portfolio .pf_contents figure img{
    width: 376px;
    height: 280px;
    /* transform-style: flat; */
    /* transition: all .25s ease-out; */
    box-shadow: 0 2px 5px #ccc;
  }
}/* max-width:769px */

/* CONTACT
--------------------------------------------------------- */
#contact{
  background-color: #043959;
  color: #fff;
}

#contact > div{
  padding: 30px;
}
#contact div h2{
  color: #fff;
}

@media screen and (max-width:769px){
  #contact .uk-form-width-large{
    max-width: 100%;
  }
}/* max-width:769px */
